# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.tmp
*.pid
*.seed
*.pid.lock

# Environment files
.env

# Docker artifacts
**/Dockerfile~
**/docker-compose.override.yml
**/.docker/

# System / OS files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# VSCode / Editor configs
.vscode/
*.code-workspace

# Temporary / Build files
dist/
build/
.cache/
.tmp/

# Git backups
*.orig
